@using EduHome.Core.DTOS.Blog;
@using EduHome.Core.DTOS.Category;
@using EduHome.Core.DTOS.Comment;
@using EduHome.Core.DTOS.Course;
@{
    ViewData["Title"] = "CourseDetails Page";
    var categories = ViewBag.Categories as IEnumerable<CategoryGetDto>;
    var blogs = ViewBag.Blogs as IEnumerable<BlogGetDto>;
}
@model CourseGetDto
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/img/course/@Model.ImageFile" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Title</h2>
                        <p>@Model.Title</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Model.About</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Model.HowToApply</p>
                                   </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p class="margin">@Model.Certification</p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.FeatureGetDto.Starts</span></li>
                                <li>duration <span>@Model.FeatureGetDto.Duration Month</span></li>
                                <li>class duration <span>@Model.FeatureGetDto.ClassDuration hours</span></li>
                                <li>skill level <span>@Model.FeatureGetDto.Level</span></li>
                                <li>language <span>@Model.FeatureGetDto.Language</span></li>
                                <li>students <span>@Model.FeatureGetDto.Students</span></li>
                                <li>assesments <span>self</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.FeatureGetDto.CourseFee</h3>
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                  
                        <form asp-controller="CourseComment" asp-action="AddComment" method="post">
                            <input type="hidden" name="CourseId" value="@Model.Id" /> 
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Subject</p>
                                    <input type="text" name="Subject" id="Subject" required />
                                </div>
                                <div class="col-md-12">
                                    <p>Message</p>
                                    <textarea name="Message" id="Message" cols="15" rows="10" required></textarea>
                                </div>
                            </div>
                            <button type="submit">Send Message</button>
                        </form>
                    </div>
                    <div class="reply-area">
                        <h3>All Comments</h3>
                        @foreach (var item in (List<CommentWithUserNameDto>)ViewBag.Comments)
                        {
                            <div>
                                <P style="font-size: 19px; color: red">@item.UserName</P>
                                <div style="border:1px solid gray;">
                                    <p style="padding: 6px">Subject- @item.Subject</p>
                                    <p style="padding: 6px">Message- @item.Message</p>
@*
                                    <form method="post" asp-action="UpdateComment" asp-controller="CourseComment">
                                        <input type="hidden" name="commentId" value="@item.Id" />
                                        <button type="submit">Update Comment</button>
                                    </form>

                                    <form method="post" asp-action="RemoveComment" asp-controller="CourseComment" onsubmit="return confirm('Are you sure you want to delete this comment?');">
                                        <input type="hidden" name="commentId" value="@item.Id" />
                                        <button type="submit">Remove Comment</button>
                                    </form>*@
                                </div>
                            </div>
                        }

                     
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var item in categories)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        @foreach (var item in blogs.Take(3))
                        {

                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a href="blog-details.html">
                                        <img style="width:100px" src="~/img/blog/@item.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a href="blog-details.html">@item.Title</a></h4>
                                    <p>@item.TeacherGetDto.FullName / @item.Date.ToString("MM/dd/yyyy") </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a href="blog-details.html" class="mr-10 mb-10">course</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a href="blog-details.html" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a href="blog-details.html">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
